.product-title {
  padding-top: 90px;
  margin-bottom: 32px;
  @apply flex justify-between items-end;

  h2 {
    font-size: 74px;
    font-weight: 600;
    width: 590px;
    @apply uppercase;
  }

  button {}
}

.product {
  @apply w-[318px];
}

.product .img {
  @apply p-[8px] rounded-[28px] bg-[green] relative mb-[16px];

  span {
    border-radius: 24px 0px  24px 0;
    @apply absolute top-[8px]  bg-[#4A69E2] text-[white] text-[12px] py-[12px] px-[16px];
  }
}

.product img {
  @apply w-full rounded-[28px];
}

.info h4 {
  @apply text-[24px] font-[700] mb-[16px];
}

.info button {
  @apply bg-[black] text-[white] w-full py-[15px] rounded-[8px] uppercase;
  span {
    @apply text-[orange] font-[700];
  }
}